.main .container {
    padding: 100px 15px 0;
}

.question {
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-muted {
    display: block;
    text-align: right;
}

.tags-and-users {
    margin: 100px 0 0 30px;
    position: fixed;
}

.like_counter {
    width:auto;
    margin: 10px;
}

.profile .avatar {
    width: 50px;
    height: 50px;
}

.user-name {
    width: 300px;
    color: white;
}

.ask {
    text-align: center;
    width: 300px;
    color: white;
}

.ans-tag-links {
    margin: 15px 0 0;
}

.ans-tags {
    text-align: left;
}
