{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<div class="question-select">
    <div class="row">
        <div class="col-4">
            <div class="cur-question-select nav">
                <a class="nav-link disabled" href="#"><h3>New Questions</h3></a>
            </div>
        </div>
        <div class="col-8">
            <div class="second-question-select nav">
                <a class="nav-link" href="#"><h3>Hot Questions</h3></a>
            </div>
        </div>
    </div>
</div>
<div class="questions">
    <div class="question">
        <div class="row">
            <div class="col-2">
                <div class="avatar">
                    <img src="{% static "img/sea.jpg" %}" alt="" />
                </div>
                <div class="like_counter">
                    <div class="row">
                        <div class="col-4"><h4>34</h4></div>
                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <a class="question-title" href="#"><h3>Question 0</h3></a>
                <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                </div>
                <div class="ans-tag-links">
                    <div class="row">
                        <div class="col-2">
                            <div class="answer-link">
                                <a class="answer-count" href="#">answer(0)</a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="tags-link">
                                <div class="row">
                                    <div class="col-1">
                                        <h6 style="margin: 0">tags: </h6>
                                    </div>
                                    <div class="col-11">
                                        <div class="ans-tags">
                                            <a class="tag" href="#">html</a>
                                            <a class="tag" href="#">css</a>
                                            <a class="tag" href="#">AAA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="row">
            <div class="col-2">
                <div class="avatar">
                    <img src="{% static "img/sea1.jpg" %}" alt="" />
                </div>
                <div class="like_counter">
                    <div class="row">
                        <div class="col-4"><h4>34</h4></div>
                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <a class="question-title" href="#"><h3>Question 1</h3></a>
                <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                </div>
                <div class="ans-tag-links">
                    <div class="row">
                        <div class="col-2">
                            <div class="answer-link">
                                <a class="answer-count" href="#">answer(1)</a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="tags-link">
                                <div class="row">
                                    <div class="col-1">
                                        <h6 style="margin: 0">tags: </h6>
                                    </div>
                                    <div class="col-11">
                                        <div class="ans-tags">
                                            <a class="tag" href="#">html</a>
                                            <a class="tag" href="#">css</a>
                                            <a class="tag" href="#">AAA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="row">
            <div class="col-2">
                <div class="avatar">
                    <img src="{% static "img/sea2.jpg" %}" alt="" />
                </div>
                <div class="like_counter">
                    <div class="row">
                        <div class="col-4"><h4>34</h4></div>
                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <a class="question-title" href="#"><h3>Question 2</h3></a>
                <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                </div>
                <div class="ans-tag-links">
                    <div class="row">
                        <div class="col-2">
                            <div class="answer-link">
                                <a class="answer-count" href="#">answer(2)</a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="tags-link">
                                <div class="row">
                                    <div class="col-1">
                                        <h6 style="margin: 0">tags: </h6>
                                    </div>
                                    <div class="col-11">
                                        <div class="ans-tags">
                                            <a class="tag" href="#">html</a>
                                            <a class="tag" href="#">css</a>
                                            <a class="tag" href="#">AAA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="row">
            <div class="col-2">
                <div class="avatar">
                    <img src="{% static "img/sea3.jpg" %}" alt="" />
                </div>
                <div class="like_counter">
                    <div class="row">
                        <div class="col-4"><h4>34</h4></div>
                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <a class="question-title" href="#"><h3>Question 3</h3></a>
                <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                </div>
                <div class="ans-tag-links">
                    <div class="row">
                        <div class="col-2">
                            <div class="answer-link">
                                <a class="answer-count" href="#">answer(3)</a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="tags-link">
                                <div class="row">
                                    <div class="col-1">
                                        <h6 style="margin: 0">tags: </h6>
                                    </div>
                                    <div class="col-11">
                                        <div class="ans-tags">
                                            <a class="tag" href="#">html</a>
                                            <a class="tag" href="#">css</a>
                                            <a class="tag" href="#">AAA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="row">
            <div class="col-2">
                <div class="avatar">
                    <img src="{% static "img/sea4.jpg" %}" alt="" />
                </div>
                <div class="like_counter">
                    <div class="row">
                        <div class="col-4"><h4>34</h4></div>
                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <a class="question-title" href="#"><h3>Question 4</h3></a>
                <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                </div>
                <div class="ans-tag-links">
                    <div class="row">
                        <div class="col-2">
                            <div class="answer-link">
                                <a class="answer-count" href="#">answer(4)</a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="tags-link">
                                <div class="row">
                                    <div class="col-1">
                                        <h6 style="margin: 0">tags: </h6>
                                    </div>
                                    <div class="col-11">
                                        <div class="ans-tags">
                                            <a class="tag" href="#">html</a>
                                            <a class="tag" href="#">css</a>
                                            <a class="tag" href="#">AAA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'inc/paginator.html' %}
</div>

{% endblock %}
