
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ask Базалеев</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="col-2">
                <div class="projevt-name">
                    <a class="navbar-brand" href="#">Ask Базалеев</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="col-3">
                <div class="search">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <div class="ask">
                    <button class="btn btn-outline-success" type="submit">Создать вопрос</button>
                </div>
            </div>
            <div class="col-4">
                    <div class="profile">
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-2">
                                <div class="avatar">
                                    <img src="../static/img/sea4.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="user-name">
                                    <h6>Петр Алексеев</h6>
                                    <div class="profile-actions">
                                        <div class="row">
                                            <div class="col-4"><a href="#" class="icon-link d-inline-flex align-items-center">настройки</a></div>
                                            <div class="col-8"><a href="#" class="icon-link d-inline-flex align-items-center">выход</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </nav>
</header>

    <!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="select-name">
            <div class="row">
                <div class="col-3">
                    <div class="cur-question-select nav">
                        <a class="nav-link disabled" href="#"><h3>Новые вопросы</h3></a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="second-question-select nav">
                        <a class="nav-link" href="#"><h3>Популярные вопросы</h3></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="questions">
                    <div class="question">
                        <div class="row">
                            <div class="col-2">
                                <div class="avatar">
                                    <img src="../static/img/sea.jpg" alt="" />
                                </div>
                                <div class="like_counter">
                                    <div class="row">
                                        <div class="col-4"><h4>34</h4></div>
                                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <a class="question-title" href="#"><h3>Question 0</h3></a>
                                <div class="question-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                                </div>
                                <div class="ans-tag-links">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="answer-link">
                                                <a class="answer-count" href="#">answer(0)</a>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="tags-link">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <h6 style="margin: 0">tags: </h6>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="ans-tags">
                                                            <a class="tag" href="#">html</a>
                                                            <a class="tag" href="#">css</a>
                                                            <a class="tag" href="#">AAA</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <div class="row">
                            <div class="col-2">
                                <div class="avatar">
                                    <img src="../static/img/sea1.jpg" alt="" />
                                </div>
                                <div class="like_counter">
                                    <div class="row">
                                        <div class="col-4"><h4>34</h4></div>
                                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <a class="question-title" href="#"><h3>Question 1</h3></a>
                                <div class="question-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                                </div>
                                <div class="ans-tag-links">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="answer-link">
                                                <a class="answer-count" href="#">answer(1)</a>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="tags-link">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <h6 style="margin: 0">tags: </h6>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="ans-tags">
                                                            <a class="tag" href="#">html</a>
                                                            <a class="tag" href="#">css</a>
                                                            <a class="tag" href="#">AAA</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <div class="row">
                            <div class="col-2">
                                <div class="avatar">
                                    <img src="../static/img/sea2.jpg" alt="" />
                                </div>
                                <div class="like_counter">
                                    <div class="row">
                                        <div class="col-4"><h4>34</h4></div>
                                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <a class="question-title" href="#"><h3>Question 2</h3></a>
                                <div class="question-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                                </div>
                                <div class="ans-tag-links">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="answer-link">
                                                <a class="answer-count" href="#">answer(2)</a>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="tags-link">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <h6 style="margin: 0">tags: </h6>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="ans-tags">
                                                            <a class="tag" href="#">html</a>
                                                            <a class="tag" href="#">css</a>
                                                            <a class="tag" href="#">AAA</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <div class="row">
                            <div class="col-2">
                                <div class="avatar">
                                    <img src="../static/img/sea3.jpg" alt="" />
                                </div>
                                <div class="like_counter">
                                    <div class="row">
                                        <div class="col-4"><h4>34</h4></div>
                                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <a class="question-title" href="#"><h3>Question 3</h3></a>
                                <div class="question-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                                </div>
                                <div class="ans-tag-links">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="answer-link">
                                                <a class="answer-count" href="#">answer(3)</a>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="tags-link">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <h6 style="margin: 0">tags: </h6>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="ans-tags">
                                                            <a class="tag" href="#">html</a>
                                                            <a class="tag" href="#">css</a>
                                                            <a class="tag" href="#">AAA</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <div class="row">
                            <div class="col-2">
                                <div class="avatar">
                                    <img src="../static/img/sea4.jpg" alt="" />
                                </div>
                                <div class="like_counter">
                                    <div class="row">
                                        <div class="col-4"><h4>34</h4></div>
                                        <div class="col-8"><button type="button" class="btn btn-primary btn-sm">&#10084;</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <a class="question-title" href="#"><h3>Question 4</h3></a>
                                <div class="question-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                                </div>
                                <div class="ans-tag-links">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="answer-link">
                                                <a class="answer-count" href="#">answer(4)</a>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="tags-link">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <h6 style="margin: 0">tags: </h6>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="ans-tags">
                                                            <a class="tag" href="#">html</a>
                                                            <a class="tag" href="#">css</a>
                                                            <a class="tag" href="#">AAA</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link">Предыдущая</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Следующая</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="col-3">
                <div class="tags-and-users">
                    <h3>Популярные теги</h3>
                    <nav class="nav">
                        <a class="nav-link" href="#"><h4 style="color: red">PostgreSQL</h4></a>
                        <a class="nav-link" href="#"><h6 style="color: green">QtCreator</h6></a>
                        <a class="nav-link" href="#"><h5>Qt</h5></a>
                        <a class="nav-link"><h6>MySQL</h6></a>
                    </nav>
                    <nav class="nav">
                        <a class="nav-link" href="#"><h5>Mail</h5></a>
                        <a class="nav-link" href="#"><h3 style="color: red">VK</h3></a>
                        <a class="nav-link" href="#"><h5>sort</h5></a>
                        <a class="nav-link"><h4>gtest</h4></a>
                    </nav>
                    <div class="best-members">
                        <h3>Лучшие пользователи</h3>
                        <nav class="nav flex-column">
                            <a class="nav-link" href="#">1. BanzayMAB</a>
                            <a class="nav-link" href="#">2. qwerty</a>
                            <a class="nav-link" href="#">3. apple</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© 2001—2022, Ask Базалеев</span>
    </div>
</footer>


