{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<div class="register">
    <div class="title"><h3>Registration</h3></div>
    <div class="error-text"><h5>error: fill in all fields</h5></div>

    <div class="row">
        <div class="col-4"><div class="input-field input-group mb-3">Login:</div></div>
        <div class="col-8"><div class="input-field input-group mb-3"><input type="text" class="form-control" placeholder="Login" aria-label="Login" aria-describedby="basic-addon1"></div></div>
    </div>

    <div class="row">
        <div class="col-4"><div class="input-field input-group mb-3">Email:</div></div>
        <div class="col-8"><div class="input-field input-group mb-3"><input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1"></div></div>
    </div>

    <div class="row">
        <div class="col-4"><div class="input-field input-group mb-3">NickName:</div></div>
        <div class="col-8"><div class="input-field input-group mb-3"><input type="text" class="form-control" placeholder="NickName" aria-label="NickName" aria-describedby="basic-addon1"></div></div>
    </div>

    <div class="row">
        <div class="col-4"><div class="input-field input-group mb-3">Password:</div></div>
        <div class="col-8"><div class="input-field input-group mb-3"><input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"></div></div>
    </div>

    <div class="row">
        <div class="col-4"><div class="input-field input-group mb-3">Repeat Password:</div></div>
        <div class="col-8"><div class="input-field input-group mb-3"><input type="password" class="form-control" placeholder="Repeat Password" aria-label="Repeat Password" aria-describedby="basic-addon1"></div></div>
    </div>

    <div class="row">
        <div class="col-4"><div class="input-field input-group mb-3">Upload Avatar:</div></div>
        <div class="col-8"><div class="custom-file" id="customFile" lang="es"><input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp"></div></div>
    </div>

    <a class="btn btn-outline-success" href="#" role="button">Register</a>

</div>

{% endblock %}
